<div class="footer-custom-content">
    <div style="font-size: 0.85rem;">
      Sponsors:
      <a href="https://www.ewi-psy.fu-berlin.de/en/v/ccnb/index.html?fbclid=IwAR37NHd98-5vsC3TJzqOrkrGzMp_W7YX4-Js8DiFKkFG1a833NzJUFao4zo" target="_blank">
        CCNB
      </a>
      <a href="https://www.berlin-university-alliance.de/?fbclid=IwAR1J8hyxsz_6U71rcJlzhKhPyTWorAUs5-lhVxjl2YarUoneFpCjPXoBQc8" target="_blank">
        FU
      </a>
      <a href="https://www.berlin-university-alliance.de/?fbclid=IwAR1J8hyxsz_6U71rcJlzhKhPyTWorAUs5-lhVxjl2YarUoneFpCjPXoBQc8" target="_blank">
        BUA
      </a>
      <a href="https://www.prusa3d.com/?fbclid=IwAR3Er4EZl9T9YlZk03wgQYUXzWyHb5BEFpT5TDi6PtgCqpE5syvpGPiv1Aw" target="_blank">
        Prusa
      </a>
    </div>          
  </div>