---
layout: page
---

{{content}}

<div class="posts-list">
    {% for wiki in site.wiki %}
    <article class="post-preview">
        <a href="{{ wiki.url | absolute_url }}">
            <h2 class="post-title">{{ wiki.title }}</h2>
            {% if wiki.excerpt %}
            <p class="post-meta">
                {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
                {{ wiki.date | date: date_format }}
            </p>
            <div class="post-entry">
                {{ wiki.excerpt }}
            </div>
            {% endif %}
        </a>
    </article>
    {% endfor %}
</div>



